.main {
  display: flex;
  height: 100%;

  width: 80%;
  flex-direction: column;
  justify-content: center;
}
.list {
  width: 80%;
  height: 85%;
  overflow: auto;
  margin: 5px auto;
  background-color: #f9f0ff;
}
.list li {
  padding: 5px;
  margin: 3px auto;
  width: 50%;
  list-style: none;
}

.link {
  padding: 5px;
  text-align: right;
  width: 80%;
  margin: 0 auto;
}
.link a {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(164, 164, 255);
  color: white;
  border-radius: 10px;
}
.link a:hover {
  opacity: 0.7;
}

.list::-webkit-scrollbar {
  width: 12px;
}
.list::-webkit-scrollbar-thumb:hover {
  background-color: #4c85ff;
}
.list::-webkit-scrollbar-thumb {
  background-color: #829dd6;
}
.list::-webkit-scrollbar-track {
  background-color: rgb(210, 207, 240);
}
